@use 'base16';

$fg: rgba(
    $color: base16.$base05,
    $alpha: 0.9,
);
$bg: rgba(
    $color: base16.$base01,
    $alpha: 0.7,
);

$accent: base16.$base0D;
$dim: base16.$base03;

$border-color: rgba(
    $color: $dim,
    $alpha: 0.5,
);
/*
@keyframes rainbow {
    0%   {color: base16.$base08;}
    16%  {color: base16.$base09;}
    33%  {color: base16.$base0A;}
    50% {color: base16.$base0B;}
    66% {color: base16.$base0C;}
    83% {color: base16.$base0D;}
    100% {color: base16.$base0E;}
}
*/
* {
    font-size: 16px;
    font-family: "JetBrainsMono NFM";
}

window {
    background-color: $bg;
}

@mixin default-settings(
    $color: $dim,
    $border-side: none,
    $border-color: $border-color,
    $border-size: 1px
) {
    padding: 4px 15px;
    color: $color;

    @if $border-side == left {
        border-left: $border-size solid $border-color;
    } @else if $border-side == right {
        border-right: $border-size solid $border-color;
    } @else if not $border-side {
        @error "Unknown direction #{$border-side}.";
    }
}

#custom-logo {
    @include default-settings($color: $accent, $border-side: "right");
    /*
    animation-name: rainbow;
    animation-duration: 60s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    */
}

#tags {
    @include default-settings($border-side: "right");

    button {
        color: transparent;
        padding: 0px 5px;

        &.occupied {
            color: $dim;
        }

        &:hover {
            color: $fg;
            background-color: transparent;

            border-color: transparent;
            border-radius: 0px;
            box-shadow: none;

            border-bottom: 1px solid $accent;

            transition: ease-in 300ms;
        }

        &.focused {
            color: $accent;
        }

        &.urgent {
            color: base16.$base08;
        }
    }
}

#custom-task-id {
    @include default-settings($color: $dim);
}

#custom-task-due {
    @include default-settings($color: $dim);

    &.distant-due {
        color: base16.$base07;
    }

    &.upcoming-due {
        color: base16.$base0A;
    }

    &.close-due {
        color: base16.$base09;
    }

    &.overdue {
        color: base16.$base08;
    }
}

#custom-task-desc {
    @include default-settings($color: $accent);

    &.started {
        color: base16.$base0B;
    }
}

#clock {
    @include default-settings($color: $fg);

    &.day {
        border-left: 1px solid $border-color;
    }

    &.date {
        border-right: 1px solid $border-color;
    }
}

#tray {
    @include default-settings($border-side: "left");
}

#pulseaudio {
    @include default-settings($border-side: "left");

    &.mild {
        color: base16.$base0A;
    }

    &.heavy {
        color: base16.$base09;
    }
}

#network {
    @include default-settings();

    &.disconnected {
        color: base16.$base0A;
    }

    &disabled {
        color: base16.$base09;
    }
}

#backlight {
    @include default-settings($border-side: "left");

    &.mild {
        color: base16.$base0A;
    }

    &.heavy {
        color: base16.$base09;
    }
}

#battery {
    @include default-settings($border-side: "left");

    &.discharging {
        &.state-good {
            color: base16.$base0A;
        }
        &.state-warning {
            color: base16.$base09;
        }
        &.state-critical {
            color: base16.$base08;
        }
    }

    &.charging {
        color: base16.$base0B;
    }
}

#cpu {
    @include default-settings();

    &.mild {
        color: base16.$base0A;
    }

    &.heavy {
        color: base16.$base09;
    }
}

#memory {
    @include default-settings($border-side: "left");

    &.mild {
        color: base16.$base0A;
    }

    &.heavy {
        color: base16.$base09;
    }
}

#disk {
    &.ssd {
        @include default-settings($border-side: "left");
    }

    &.hdd {
        @include default-settings($border-side: "left");
    }
}

#custom-game-mode {
    @include default-settings();
}
